/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;   
    color: #7a7d81;
}

a {
    text-decoration: none;
    color: #7a7d81;
    cursor: pointer;
}

a:hover {
    color: white;
}

#wrapper {
    height: calc(100vh - 80px);
}

#wrapper::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    padding: 10px 10px;
    width: 250px;
    height: calc(100vh - 80px);
    float: left;
    background-color: black;
}

#sidebar-top {
    height: calc(100% - 80px);
}

main {
    background-color:#141922;
    width: calc(100% - 250px);
    float: left;
    height: 100%;
    overflow-y: auto;
}

#player {
    height:80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.effettua-upgrade {
    background-color: rgba(0,0,0,0.5);
    height: 80px;
    width: calc(100% - 250px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1;
}

/* main */

.effettua-upgrade button {
    background: transparent;
    color: white;
    border-radius: 30px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 12px;
    width: 180px;
    height: 40px;
    margin-right: 20px;
    transition: transform;
}

.effettua-upgrade button:hover {
    transform: scale(1.1);
}


.nav-centrale {
    margin-top: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.nav-centrale li {
    display: inline-block;
    margin-right: 15px;   
}

/* sezione album */

h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: white;
    margin: 10px 0;
}

h5 {
    color: #7a7d81;
}

.container {
    padding-left: 10px;
    width: 90%;
}
#ascolti-recenti {
    display: flex;
    margin-top: 20px;
    min-height: 250px;
}

.artista {
    text-align: center;
    width: 150px;
    height: 150px;
    margin-right:10px ;
}

.album img {
    width: 100%; 
    height: 100%;
}

#artisti-popolari img {
    border-radius: 50%;
}

#creato-per-john, #artisti-popolari {
    margin-top: 30px;
    display: flex;
    min-height: 200px;
}

.album {
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.overlay i {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.overlay:hover {
    display: block;
}


/* aside */

.logo-grande img {
    width: 50%;
}

.logo-piccolo {
    display: none;
}


.home, .cerca, .libreria, 
.istalla-app, .utente  {
    display: flex;
    align-items: center;
}

aside ul {
    list-style: none;
    margin: 20px 0;
}

aside li {
    margin: 5px 0px;
}

.nav-home img {
    width: 10%;
    margin-right: 5px;
}

.crea-playlist {
    display: flex;
    align-items: center;
}

.crea-playlist i {
    font-size: 30px;
    margin-right: 10px;
}

.nav-playlist {
    overflow-y: scroll;
    height: 150px;
}

.sezione-utente {
    height: 80px;
}

hr {
    width: 90%;
    margin: 10px 0 0 0;
}

.icona-utente {
    background-color: gray;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    padding: 1px 4px;
}

/* footer */

.player-left, .player-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
}

.player-center {
    width: 40%;
}

.copertina-scelta img {
    width: 50px;
    margin-right: 10px;
}

.copertina-scelta {
    width: 50px;
    margin: 0 10px;
}

.icons-center {
    width: 50%;
    height: 50%; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-center i {
    color: white;
    font-size: 14px;
}

#play {
    font-size: 24px;
    transition: transform;
}

#play:hover {
    transform: scale(1.2);
}


.avanzamento {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

.avanzamento-completo {
    background-color: #7a7d81;
    height: 2px;
    width: 70%;
}

.parte-avanzamento {
    background-color: white;
    height: 2px;
    width: 20%;
}

.volume {
    height: 2px;
    background-color: #7a7d81;
    width: 30%;
}

.livello-volume {
    height: 2px;
    width: 20%;
    background-color: white;
}

/* valori responsive  */

@media  all and ( max-width: 425px) {

   .nav-home div, .nav-playlist, h3, hr, 
   .istalla-app div {
       display: none;
   }

   aside {
       width: 50px;
   }

   main {
       width: calc( 100% - 50px);
   }

   /* .container-logo:first-child {
       display: none;
   }

   .container-logo:last-child {
       display: block;
       width: 100%;
   } */

   .crea-playlist{
       display: none;
   }

   .logo-grande img {
    display: none;
    }

    .logo-piccolo {
    width: 100%;
    }
  
    .nav-home img {
        width: 100%;
    }
}

@media screen and ( max-width: 1024px ) { 

    #ascolti-recenti {
        flex-wrap: wrap;
    }
    .artista {
        height: 200px;
        margin-bottom: 50px;
    }

    .icons-center {
        width: 150px;
        height: 50%;
    }    

}

