/* regole layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;   
    color: #7a7d81;
}

a {
    text-decoration: none;
    color: #7a7d81;
}

#wrapper {
    height: calc(100vh - 80px);
}

#wrapper::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    width: 250px;
    float: left;
    background-color: black;
    height: 100%;
}

main {
    background-color:#141922;
    width: calc(100% - 250px);
    float: left;
    height: 100%;
    overflow-y: auto;
}

#player {
    height:80px;
    background-color: #282828;
}

.effettua-upgrade {
    background-color: rgba(0,0,0,0.5);
    height: 80px;
    width: calc(100% - 250px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

/* main */

.effettua-upgrade button {
    background: transparent;
    color: white;
    border-radius: 30px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 12px;
    width: 180px;
    height: 40px;
    margin-right: 20px;
}
.nav-centrale {
    margin-top: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.nav-centrale li {
    display: inline-block;
    margin-right: 15px;   
}

/* sezione album */

h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: white;
    margin: 10px 0;
}

h5 {
    color: #7a7d81;
}

.container {
    padding-left: 10px;
    width: 90%;
}
#ascolti-recenti {
    display: flex;
    margin-top: 20px;
    min-height: 250px;
}

.artista {
    text-align: center;
    width: 150px;
    height: 150px;
    margin-right:10px ;
}

.album img {
    width: 100%; 
    height: 100%;
}

#artisti-popolari img {
    border-radius: 50%;
}

#creato-per-john, #artisti-popolari {
    margin-top: 30px;
    display: flex;
    min-height: 200px;
}

/* footer */

#player {
    display: flex;
    justify-content: space-between;
}

.player-left {
    display: flex;
    align-items: center;
    width: 15%;
}

.player-center {
    width: 40%;
}

.player-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.copertina-scelta img {
    width: 100%;
}

.copertina-scelta {
    width: 20%;
    margin: 0 10px;
}

.icons-center {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;  
}

.icons-center i {
    color: white;
    font-size: 14px;
}

#play {
    font-size: 24px;
}

.avanzamento {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

.avanzamento-completo {
    background-color: #7a7d81;
    height: 2px;
    width: 60%;
}

.parte-avanzamento {
    background-color: white;
    height: 2px;
    width: 20%;
}

.volume {
    height: 2px;
    background-color: #7a7d81;
    width: 30%;
}

.livello-volume {
    height: 2px;
    width: 10%;
    background-color: white;
}
